<html>
    <body>
        <h2>Insert Movie</h2>
        <form action="/insert" method='POST'>
            <label>Enter Movie Name  </label>
            <input type="text" name="movie_name" placeholder="Enter Movie Name"><br>
            <label>Enter the image url  </label>
            <input type="text" name="movie_img" placeholder="Enter image"><br>
            <label>Enter Summary  </label>
            <input type="text" name="movie_summary" placeholder="Enter the summary"><br>
            <button type="submit">Insert</button>
        </form>
    </body>
</html>
